@import '../../mixin.scss';

.flexible_earnBox_wrappers {
    padding: 40px 15px 20px;
    @include respond-to (media-sm) {
        padding: 15px 15px;
    }
    .flexible_earnBox {
        font-size: 25px;
        padding: 30px;
        color: #3f4448;        
        border-radius: 20px;
        margin-bottom: 30px;
        background: #ffffff;
        min-height: 107px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.19);   
        @include respond-to (media-xl) {
            font-size: 18px;
            padding: 30px 20px;
        }
        @include respond-to (media-lg) {
            font-size: 15px;
            padding: 20px 15px;
            margin-bottom: 15px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);  
        }      
        h2 {
            font-size: 32px;
            color: #0f3aaa;
            font-family: 'tt_normsbold';
            margin-bottom: 0px;
            @include respond-to (media-xl) {
                font-size: 21px;
            }
            @include respond-to (media-xl) {
                font-size: 18px;
            }
        }
    }
    .p_lr_25 {
        padding-left: 25px;
        padding-right: 25px;
        @include respond-to (media-xl) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include respond-to (media-lg) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
