@import '../../mixin.scss';

.topHD_bannerBox {
    .wallet_topSec {
        @include respond-to (media-xs) {
            display: block !important;
        }        
    }
}
.wallet_topwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-to (media-md) {
        display: block;
    }
    .wallet_topSec {
        width: 60%;
        @include respond-to (media-md) {
            width: 100%;
        }
        .wallet_topBox {
            position: relative;
            margin-right: 50px; 
            @include respond-to (media-xl) {
                margin-right: 40px;
            }
            @include respond-to (media-sm)  {
                width: 50%;
                margin-right: 20px;
            }
            @include respond-to (media-xs)  {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 20px;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -5px;
                width: 1px;
                height: 100%;
                background: #ffffff;   
                @include respond-to (media-xs)  {
                    content: none;
                }  
            }
            &:last-child {
                margin-right: 0px;
                @include respond-to (media-xs)  {
                    margin-bottom: 0px;
                }
                &:after {
                    content: none;
                }
            }
        }
    }
    .wallet_topnav {
        width: 40%;
        @include respond-to (media-md) {
            width: 100%;
            max-width: 550px;
            margin-top: 30px;
        }    
        ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            text-align: center;
            justify-content: flex-end;
            @include respond-to (media-md) {
                justify-content: flex-start;
            }
            li{
                flex: 0 0 33.333%;
                max-width: 33.333%;
                color: #fff;
                padding: 0px 7.5px;
                &:last-child {
                    padding-right: 0px;
                }
                a {
                    display: block;
                    width: 100%;
                    font-size: 26px;                
                    color: #fff;                
                    padding: 10px 15px;   
                    text-decoration: none;
                    border-radius: 4px;             
                    font-family: 'tt_normsmedium';                    
                    border: 1px solid #ffffff;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    transition: all .5s;
                    &:hover, &:focus {
                        box-shadow: none;
                        outline: none; 
                        background: transparent;
                        border-color: #1d2128;
                        &:after, &::before {
                            transform: scale(1);
                            border-radius: 0;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        height: 100%;
                        background: #1d2128;
                        z-index: -1;
                        transform: translate3D(0,-100%,0);
                        transition: all .5s;
                        transform-origin: center center;
                        transform: scale(1,0);
                    }    
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        height: 100%;
                        background: #1d2128;
                        z-index: -2;
                        transform: translate3D(0,-100%,0);
                        transition: all .5s;
                        transform-origin: center center;
                        transform: scale(1,0);
                    }
                    @include respond-to (media-xl) {
                        font-size: 20px;
                    }
                    @include respond-to (media-lg) {
                        font-size: 18px;
                        padding: 10px;
                    }
                    @include respond-to (media-sm) {
                        font-size: 14px;
                        padding: 7px;
                    }
                }
            }
        }
    }
}

.wt_whiteBox {
    padding: 0px 35px;
    background: #ffffff;
    border-radius: 4px;
    @include respond-to (media-xl) {
        padding: 0px 30px;
    }
    @include respond-to (media-sm) {
        padding: 0px 15px;
    }
    .wallet_tableWrap {
        overflow-y: auto;
    }
}